.headertop-area{
  background-color: #FFC000
}
.header-wrap {
  display: flex;
}
.header-usd-flag img {
  width: 30px;
  height: 30px;
}
.header-top-usd-text h4 {
  margin-top: 8px;
  margin-left: 5px;
  font-size: 14px;
}
span.b {
  font-size: 16px;
  margin: 5px;
  color: #007700;
  margin-right: 25px;
}
.green {
  font-size: 18px;
  color: #007700;
}
span.c.greenFore {
  font-size: 18px;
  margin: 0 20px;
  color: #007700;
}
.header-top-usd-live-number {
  margin-top: 5px;
}

.header-top-live-number-calculate {
  padding: 10px;
  width: 33%;
  float: left;
}
a.navbar-brand img {
  margin-top: 23px;
}

nav.navbar.navbar-default.top-nav-collapse {
  padding: 10px 0;
}
ul.nav.navbar-nav {
  margin-top: 20px;
}






/* From index.html */

.product-item{
    width: 23%;
    display: inline-block;
    margin: 0.8%;
    border-radius:5px;
    -webkit-box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    transition: all .15s;
    cursor: pointer;
    text-align: center;
    background: #fff;
  }
  .product-item:hover , .product-item:focus{
    -webkit-box-shadow: 0 3px 3px -2px rgba(0,0,0,.2), 0 3px 4px 0 rgba(0,0,0,.14), 0 1px 8px 0 rgba(0,0,0,.12);
    box-shadow: 0 3px 3px -2px rgba(0,0,0,.2), 0 3px 4px 0 rgba(0,0,0,.14), 0 1px 8px 0 rgba(0,0,0,.12);
  }
  .product-item a{
   text-decoration: none;
  }
  .product-item img {
      width: 100%;
      height: 266px;
      border-radius: 5px 5px 0 0;
      padding: 25px 25px;
  }
  .product-item h3{
    color: #000000;
    margin: 5px 0;
  }
  .add-to-cart {
      padding: 8px;
      margin: 0;
      transition: all .15s;
      color: #2C3E50;
      border: 2px solid #ffc000;
      border-radius: 0 0 5px 5px;
      -webkit-box-shadow: 0px 2px 5px 0px rgba(255,153,125,1);
      -moz-box-shadow: 0px 2px 5px 0px rgba(255,153,125,1);
      box-shadow: 0px 2px 5px 0px rgb(255, 192, 0);
  }
  .add-to-cart:hover{
    background: #ffc000;
    color: #FFFFFF;
  }
  
  /*dropdown css*/
  
  .dropbtn {
    background-color:transparent;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color:transparent;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}
  
  .navbar-default .navbar-nav>li>a {
    color: #000;
    padding: 15px;
    text-align: center;
}
  /*end from index css*/
  

/* My css here  */

h6.subheading {
    color: #fff;
    font-weight: 600;
}
.custom-slider-content h1 {
    color: #fff;
    font-size: 85px;
    font-weight: 900;
    margin-bottom: 30px;
}
.custom-slider-content li {
    display: inline-block;
    color: #fff;
    font-size: 16px;
}
.custom-slider-content li span {
    font-size: 22px;
    margin-right: 6px;
}
.single-sldier{
    padding: 150px 0;
    background-size: cover;
    background-position: center
}
.custom-slider-content p {
    color: #fff;
    margin: 30px 0;
    font-size: 20px;
    line-height: 31px;
}
a.slider-btn {
    background: #FFC000;
    padding: 17px 25px;
    color: #222;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: inline-block;
    margin-top: 20px;
    transition: .3s;
}
a.slider-btn:hover{
    background-color: #fff
}

.slider-area .slick-dots li {
    display: inline-block;
}
.slider-area .slick-dots {
    position: absolute;
    left: 0px;
    right: 0;
    text-align: center;
    bottom: 25px;
}
.slider-area .slick-dots li button {
    font-size: 0;
    border: none;
    height: 4px;
    width: 25px;
    margin: 0 5px;
    outline: none
}
.slider-area .slick-dots li.slick-active button{
  background: #FFC000
}




/*=====================
USD FURMULA SECTION
=======================*/

.usd-furmula-section{
  padding: 80px 0;
}

.table-content table{
border-collapse: collapse;
width: 100%;
color: #000;
}

.table-content table td, .table-content table th {
  border: 1px solid #000;
  text-align: center;
  padding: 8px;
}

.table-content table tr th {
 background: #FFC000;
}


.table-content table tr:nth-child(even) {
 background: #FDF1CC;
}

.about-bg{
  background-image: url(../img/gold-1.jpg)
}







.priv_mainheadingflexy {
  display: flex;
}
.privimgsec img {
  max-width: 129px;
  max-height: 129px;
}
.private-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}
hr {
  margin-top: -15px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}

.private-img img {
  width: 140px;
  margin-right: 25px;
}
.single-secure-area {
  
}
.secure-img img {
  max-width: 200px;
  max-height: 200px;
}
.secure-content {
  min-height: 186px;
  margin-top: 13px;
}
.secure-content h2 {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 600;
  color: #999;
}
.secure-content p {
  font-size: 16px;
}
/* Blog css */
.blog-img img{
  width: 60px;
  height: 60px;
  padding: 0;
  margin-right: 13px;
}
.single-blog {
  display: flex;
}
.blog-desc h2 {
  font-size: 18px;
}

.pagination-list li {
  display: inline-block;
  margin-top: 50px;
}
.pagination-list li a {
    border: 1px solid #ddd;
    display: block;
    padding: 10px;
    margin: 0px 4px;
    font-size: 20px;
    transition: .3s;
}
li.previous-btn {
    margin-right: 20px;
}
li.next-btn {
    margin-left: 25px;
}
.pagination-list li:hover a {
    background: #5A82B7;
    color: #fff;
}
li.blog-pagi-active a {background: #5A82B7;color: #fff;}





section#services {
    background: #F3F3F3;
}

section.private-area.section-padding {
    background: #F3F3F3;
}

section#features {
    background: #fff;
}


.left-section-private img {
    width: 100%;
}

.left-section-private img {
    width: 100%;
    margin: 70px 0 0 0;
    border-top: 11px solid #fff;
    border-bottom: 11px solid #fff;
}

.single-secure-area img {
    float: left;
    width: 140px;
    padding: 0 15px 0 0px;
}

.left-section-private:after {
    position: absolute;
    width: 100%;
    height: 122%;
    top: 0;
    left: 0px;
    content: "";
    background: #FFC000;
    z-index: -1;
}

.left-section-private {
    position: relative;
    z-index: 1;
    margin-right: 15px;
}


p.private_p {
    margin-bottom: 50px;
}